<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @user.username %>'s IdeaBox</title>
  </head>
  <body>
    <h1><%= @user.username %>'s IdeaBox</h1>
	    <p><%= link_to "Create an Idea", new_user_idea_path(@user) %></p>
	    <p><%= link_to "See All Ideas", user_ideas_path(@user) %></p>
	    <p><%= link_to "Log Out", logout_path, method: :delete %></p>
    <% if current_admin? %>
	    <h3>Admin Options</h3>
	    <p><%= link_to "Create New Category", new_admin_category_path %></p>
	    <p><%= link_to "Delete a Category", admin_categories_path %></p>
      <p><%= link_to "Add a new Image", new_admin_image_path %></p>
    <% end %>
  </body>
</html>
