<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>



  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Idea Box</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% if current_user %>
            <a class="nav-item nav-link active" href="<%= user_path(current_user) %>"><%= current_user.username %>'s Idea Box<span class="sr-only">(current)</span></a>
          <% end %>
        </div>
        <div class="navebar-nav">
          <% if current_user %>
            <li class="nav-link mr-auto">
              <%= link_to "Log Out", logout_path, method: :delete %>
            </li>
          <% end %> 
        </div>
      </div>
    </nav>

    <div class="jumbotron vertical-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <p><%= flash.notice %></p>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
